/**************************************************|
 |**************************************************|
 |***************** PORTFOLIO CSS ******************|
 |**************************************************|
 |**************************************************/
 
/* ---------- LINKS ---------- */
/* Info Cards */
.container_card {
    width: 300px;
    height: 300px;
    
    position: relative;
    top:0; right: 0; left: 0; bottom: 10%;
    margin: auto;
    
    background-color: var(--white);
    background-size: cover;
    cursor: pointer;
    
    -webkit-box-shadow: 0 0 5px var(--black);
          box-shadow: 0 0 5px var(--black);
}
.overlay {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    
    background: var(--overlay_red);
    color: var(--overlay_color);
    opacity: 0;
    transition: all 0.5s;
}
.items {
    padding-left: 20px;
    letter-spacing: 3px;
}
.head {
    font-size: 30px;
    line-height: 40px;
    
    transform: translateY(40px);
    transition: all 0.7s;
}
.head  hr {
    display: block;
    width: 0;

    border: none;
    border-bottom: solid 2px var(--red_Global);

    position: absolute;
    bottom: 0; left:20px;

    transition: all .5s;
}
.element {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;  
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
}
.container_card:hover .overlay {
    opacity: 1;
}
.container_card:hover .overlay .head {
    transform: translateY(0px);
}
.container_card:hover .overlay hr {
    width: 75px;
    transition-delay: 0.4s;
}
.container_card:hover .overlay .element {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}
/* Smart Devices Info */
.contact_img{
    display: none;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-top: 10px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: width 1s, height 1s;
}
.contact_img:hover{
    width: 95%;
    margin-left: 2.5%;
    height: 75px;
}
.contact_img p, .contact_img i{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
}
.contact_img:hover p, .contact_img:hover i{
    transform:scale(1.2);
}
#col_contact_img{
    margin-bottom: 20%;
}

/* Mobile S, M, L*/
@media screen and (max-width: 425px){
    #title_port {
        top: 15%;
        font-size: 0.7em;
    }
    .container_card {
        display: none;
    }
    .contact_img{
        display: block;
    }
}
/* Tablet */
@media screen and (max-width: 768px) and (min-width: 426px){
    #title_port {
        top: 40%;
        font-size: 0.7em;
    }
    .container_card {
        width: 110px;
        height: 110px;
        top: -10px;
        left: 10%;
    }
    .head {
        font-size: 20px;
    }
    .element {
        font-size: 12px;
    }
    .contact_img{
        display: none;
    }
    #gif{
        margin-top: 20%;
        margin-left: -20%;
    }
    #gif img{
        max-height: 400px;
    }
}
/* Laptop */
@media screen and (max-width: 1024px) and (min-width: 769px){
    #title_port {
        top: 40%;
        font-size: 1em;
    }
    .container_card {
        width: 160px;
        height: 160px;
        top: -10px;
        left: 10%;
    }
    .head {
        font-size: 20px;
    }
    .element {
        font-size: 12px;
    }
    .contact_img{
        display: none;
    }
    #gif{
        margin-top: 20%;
        margin-left: -20%;
    }
    #gif img{
        max-height: 600px;
    }
}
/* Laptop L*/
@media screen and (max-width: 1440px) and (min-width: 1025px){
    #title_port {
        top: 40%;
        font-size: 2em;
    }
    .container_card {
        width: 250px;
        height: 250px;
        top: -10px;
        left: 10%;
    }
    .head {
        font-size: 35px;
    }
    .element {
        font-size: 20px;
    }
    .contact_img{
        display: none;
    }
    #gif{
        margin-top: 20%;
        margin-left: -20%;
    }
    #gif img{
        height: 700px;
    }
}
/* 4K */
@media screen and (min-width: 1441px){
    #title_port {
        top: 40%;
        font-size: 3em;
    }
    .container_card {
        width: 300px;
        height: 300px;
        left: 10%;
    }
    .head {
        font-size: 45px;
    }
    .element {
        font-size: 30px;
    }
    .contact_img{
        display: none;
    }
    #gif{
        margin-top: 20%;
        margin-left: -20%;
    }
    #gif img{
        height: 1200px;
    }
}