/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td{
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table{
    border-spacing: 0;
}
fieldset,img{
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul{
    list-style: none;
    margin:0;
    padding:0;
}
caption,th{
    text-align: left;

}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
	border: 0;
}

/**************************************************|
|**************************************************|
|****************** PERSONAL CSS ******************|
|**************************************************|
|**************************************************/

/* ---------- GENERAL ---------- */
/* Colors */
:root{
    /* Global */
    --red_Global: rgb(130, 3, 3);
        --red_Global_alpha__0: rgba(130, 3, 3,0);
        --red_Global_alpha__6: rgba(130, 3, 3, 0.6);
        --red_Global_alpha__4: rgba(130, 3, 3, 0.4);
    --grey_Global: #333;
    --aqua_Global: #16a085;

    /* Scroll to top */
    --scroll_border: #dedede;

    /* Header */
    --header_color: #f2f2f2;

    /* Contact - Info card */
    --overlay_red: rgba(77, 77, 77, .9);
    --overlay_color: #FEF5DF;

    /* Plain colors */
    --white: #fff;
        --white_gradient__8: hsla(0, 0%, 100%, .8);
    --black: black;
        --black_alpha__15: rgba(black,.15);
        --black_shadow__50: hsla(0, 0%, 0%, .5);
}
body {
    font-family: 'Poppins';
}
/* Scroll To Top */
.scroll-to-top {
    background-color: var(--grey_Global);
    display: none;
    width: 55px;
    height: 55px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: var(--white);
    position: fixed;
    right: 10px;
    z-index: 999;
    border-radius: 50%;
    border: 1px solid var(--scroll_border);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.scroll-to-top:hover, .scroll-to-top:focus {
    background-color: var(--red_Global);
    color: var(--white);
}
/* Navigation (slides) */
.fp-slidesNav.bottom{
    bottom: 25px;
}
.fp-controlArrow.fp-prev{
    border-color: transparent var(--red_Global) transparent transparent;
}
.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent var(--red_Global);
}
.fp-slidesNav.bottom span{
    background: var(--red_Global);
}

/* Title */
@import "nib";
.container_title {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: -80%;
}
.document {
    padding: 40px 20px;
    border-radius: 5px;
}
.document h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: --grey_Global;
    text-shadow: 0 1px 2px rgba(var(--black),.15);
}
.brace {
    width: auto;
    min-width: 35px;
    padding-bottom: 20px;
    font-size: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 15px 15px;
    border: none;
    background-color: transparent;
    background-image: 
      radial-gradient(circle at 0 0, var(--red_Global_alpha__0) 14.5px, var(--red_Global) 15.5px, var(--red_Global) 19.5px, var(--red_Global_alpha__0) 20.5px),
      radial-gradient(circle at 35px 0, var(--red_Global_alpha__0) 14.5px, var(--red_Global) 15.5px, var(--red_Global) 19.5px, var(--red_Global_alpha__0) 20.5px);
    background-size: 35px 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-transform: lowercase;
    font-style: italic;
    color: var(--red_Global);
    filter: drop-shadow(0 1px 1px var(--black_alpha__15));
    overflow: visible; 
}
.brace:before {
    width: 50%;
    border-top: 5px solid var(--red_Global);
    border-left: 1px solid transparent;
    border-top-left-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute;
    top: 100%;
    left: -15px;
    box-sizing: border-box;
    margin-top: -5px;
}
.brace:after {
    width: 50%;
    border-top: 5px solid var(--red_Global);
    border-right: 1px solid transparent;
    border-top-right-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute;
    top: 100%;
    right: -15px;
    box-sizing: border-box;
    margin-top: -5px;
}

/* ---------- HEADER ---------- */
/* Header */
#header{
    position:fixed;
    height: 70px;
    display:block;
    width: 100%;
    background: var(--grey_Global);
    z-index:9;
    text-align:center;
    color: var(--header_color);
    padding: 25px 0 0 0;
    top: 0px;
}

/* Logo + Mark */
mark{
  background-color: var(--red_Global_alpha__6);
  color: var(--white);
}
.logo{
    float: left;
    text-transform: uppercase;
}
.logo a mark {
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 10px;
}

/* Menu */
.menu{
    float: right;
}
.menu a{
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    font-size: 17px;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
    margin-top: -7px;
    margin-right: 40px;
}
.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover{
    background-color: var(--aqua_Global);
    color: var(--white);
} 
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.menu_active{
    background-color: var(--red_Global_alpha__6);
}

/* Responsive */
@media screen and (max-width:600px) {
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 40%;
        height: 100%;
        background: var(--grey_Global);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}

/* ---------- FOOTER ---------- */
/* Position */
#Footer{
	position: fixed;
	height: 60px;
	display: block;
	width: 100%;
	z-index: 9;
	text-align: center;
	color: var(--white);
	padding: 20px 0 0 0;
	background: var(--grey_Global);
	bottom: 0px;
}
#Footer h6{
	color: var(--white);
}